[Desktop Entry]
Name=Catfish File Search
Name[bg]=Търсене на файлове Catfish
Name[ca]=Cerca de fitxers Catfish
Name[cs]=Vyhledávač souborů Catfish
Name[de]=Catfish Dateisuche
Name[el]=Αναζήτηση αρχείων Catfish
Name[es]=Buscador de archivos Catfish
Name[fi]=Catfish-tiedostohaku
Name[fr]=Recherche de fichiers Catfish
Name[hu]=Catfish fájlkereső
Name[id]=Catfish si pencari berkas
Name[it]=Catfish ricerca di file
Name[ja]=Catfish File Search
Name[ko]=캣피쉬 파일 검색기
Name[lv]=Catfish datņu meklēšana
Name[nl]=Catfish bestandenzoeker
Name[pl]=Wyszukiwarka plików Catfish
Name[pt]=Pesquisador de ficheiros Catfish
Name[pt_BR]=Pesquisador de arquivos Catfish
Name[ru]=Поиск файлов Catfish
Name[si]=කැට් ෆිෂ් ලිපි ගොනු සෙවීම
Name[sk]=Vyhľadávač súborov Catfish
Name[sr]=Сом (Catfish) претрага датотека
Name[tr]=Catfish Dosya Arama
Name[zh_TW]=Catfish 檔案搜尋
Comment=Search the file system
Comment[bg]=Търсене във файловата система
Comment[ca]=Cerca en el sistema de fitxers
Comment[cs]=Prohledat souborový systém
Comment[de]=Dateisystem durchsuchen
Comment[el]=Αναζήτηση στο σύστημα αρχείων
Comment[es]=Buscar en el sistema de archivos
Comment[fi]=Hae tiedostojärjestelmästä
Comment[fr]=Rechercher dans le système de fichiers
Comment[hu]=Keresés a fájlrendszerben
Comment[id]=Cari berkas-berkas sistem
Comment[it]=Cerca nel file system
Comment[ja]=ファイルシステムを検索
Comment[ko]=파일 시스템 검색
Comment[lv]=Meklēt datņu sistēmā
Comment[nl]=Doorzoek het bestandssysteem
Comment[pl]=Przeszukuje zawartość systemu plików
Comment[pt]=Pesquisar o sistema de ficheiros
Comment[pt_BR]=Pesquisar no sistema de arquivos
Comment[ru]=Поиск по файловой системе
Comment[si]=ලිපි ගොනු පද්ධතිය සෙවීම
Comment[sk]=Hľadať v súborovom systéme
Comment[sr]=Претрага система датотека
Comment[tr]=Dosya sistemini ara
Comment[zh_TW]=搜尋檔案系統
Categories=GNOME;Utility;
Exec=catfish
Icon=catfish
Terminal=false
Type=Application
