[Desktop Entry]
Version=1.0
Name=Window Buttons
Name[ca]=Botons de finestres al Quadre
Name[de]=Fensterknöpfe
Name[el]=Κουμπιά παράθυρο
Name[es]=Botones de ventanas en bandeja
Name[fr]=Boutons des fenêtres
Name[nl]=Vensterknoppen
Name[ro]=Butoane fereastra
Name[ru]=Кнопки окон
Name[sv]=Fönsterknappar
Comment=Properties dialog box
Comment[ca]=Quedre de diàleg de propietats
Comment[de]=Einstellungen für Fensterknöpfe im Panel
Comment[el]=Διαλόγου Ιδιότητες
Comment[es]=Diálogo de propiedades
Comment[fr]=Boîte de dialogue Propriétés
Comment[nl]=Eigenschappen dialoogvenster
Comment[ro]=Boxa dialog Proprietati
Comment[ru]=Настройка показа кнопок окон запущенных приложений на панели
Comment[sv]=Dialogruta för egenskaper
Icon=preferences-system-windows
Exec=xfce4-panel --plugin-event=tasklist:configure:bool:true
Type=Application
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=Desktop
