[Desktop Entry]
Version=1.0
Type=Application
Name=Installer
Name[ar]=تنصيب
Name[bg]=Инсталирай
Name[ca_ES]=Instal·la
Name[cs]=Instalovat
Name[da]=Installér
Name[de]=Installation
Name[el]=Εγκατάσταση
Name[es]=Instalar
Name[et]=Paigalda
Name[eu]=Instalatu
Name[fa]=نصب
Name[fi]=Asenna
Name[fr]=Installer
Name[hr]=Instalacija
Name[hu]=Telepítés
Name[is]=Setja upp
Name[it]=Installa
Name[ja]=インストール
Name[ko]=설치
Name[lt]=Įdiegti
Name[mk]=Инсталирај
Name[nb]=Installer
Name[nl]=Installeren
Name[pl]=Instaluj
Name[pt]=Instalar
Name[pt_BR]=Instalar
Name[ro]=Instalează
Name[ru]=Установка
Name[sk]=Inštalovať
Name[sl]=Namesti
Name[sq]=Instalo
Name[sr]=Инсталација
Name[sv]=Installera
Name[tr]=Kurmak
Name[uk]=Встановити
Name[zh_CN]=安装
Name[zh_TW]=安装
Comment=Install to hard drive
Exec=sudo -E /usr/sbin/minstall
Icon=system-installer
Path=
Terminal=false
StartupNotify=false
