[Desktop Entry]
Name=Alsamixer
Comment=ALSA Audio
Exec=x-terminal-emulator -e alsamixer
Icon=multimedia-volume-control
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;
NoDisplay=False
