[Desktop Entry]
Name=luckyBackup
Name[en]=luckyBackup
Name[en_US]=luckyBackup
Name[ara]=luckyBackup
Name[bs]=luckyBackup
Name[bg]=luckyBackup
Name[ca]=luckyBackup
Name[zh_TW]=luckyBackup
Name[cs]=luckyBackup
Name[nl]=luckyBackup
Name[eo]=luckyBackup
Name[et]=luckyBackup
Name[fr]=luckyBackup
Name[gl]=luckyBackup
Name[de]=luckyBackup
Name[el]=luckyBackup
Name[it]=luckyBackup
Name[ja_JP]=luckyBackup
Name[no]=luckyBackup
Name[pl]=luckyBackup
Name[pt_BR]=luckyBackup
Name[pt_PT]=luckyBackup
Name[ro]=luckyBackup
Name[ru]=luckyBackup
Name[sk]=luckyBackup
Name[sl]=luckyBackup
Name[es]=luckyBackup
Name[sv]=luckyBackup
Name[tr]=luckyBackup
Name[vi]=luckyBackup
GenericName=Backup & Sync tool
GenericName[en]=Backup & Sync tool
GenericName[en_US]=Backup & Sync tool
GenericName[ara]=أداة حفظ ومزامنة
GenericName[bs]=Backup & Sync tool
GenericName[bg]=Инструмент за бекъп и синхронизация
GenericName[ca]=Eina de còpia de seguretat i sincronització
GenericName[zh_TW]=備份與同步工具
GenericName[cs]=Zálohovací a seřizovací nástroj
GenericName[nl]=Backup- & sync-toepassing
GenericName[eo]=Savkopia & Sinkroniga ilo
GenericName[et]=Backup & Sync tool
GenericName[fr]=Outil de Sauvegarde & de Synchronisation
GenericName[gl]=Ferramenta de copias de seguranza e sincronización
GenericName[de]=Sicherungs & Synchronisations Werkzeug
GenericName[el]=Εργαλείο αντιγράφων ασφαλείας & συγχρονισμού
GenericName[it]=Strumento di Backup & Sincronizzazione
GenericName[ja_JP]=Backup & Sync tool
GenericName[no]=Backup & Sync tool
GenericName[pl]=Narzędzie do kopii zapasowych i synchronizacji
GenericName[pt_BR]=Ferramente de Backup & Sincronização
GenericName[pt_PT]=Ferramenta de Backup & Sincronização
GenericName[ro]=Unealtă pentru backup & sincronizare
GenericName[ru]=Резервное копирование и синхронизация
GenericName[sk]=Backup & Sync tool
GenericName[sl]=Orodje za usklajevanje in varnostne kopije
GenericName[es]=Herramienta de respaldo y sincronización
GenericName[sv]=Verktyg för säkerhetskopiering och synkronisering
GenericName[tr]=Yedekleme & Şipşaklama aracı
GenericName[vi]=Backup & Sync tool
Comment=Backup & sync your data with the power of rsync
Comment[en]=Backup & sync your data with the power of rsync
Comment[en_US]=Backup & sync your data with the power of rsync
Comment[ara]=احفظ وزامن بياناتك مستخدماً قوة rsync
Comment[bs]=Backup & sync your data with the power of rsync
Comment[bg]=Бекъп и синхронизация на данните ви със силата на rsync
Comment[ca]=Crear còpia de seguretat i sincronitzar dades amb el poder de rsync
Comment[zh_TW]=借助 rsync 之力備份並同步您的資料
Comment[cs]=Zálohujte a seřizujte svá data pomocí síly nástroje rsync
Comment[nl]=Backup & sync je bestanden met de kracht van rsync
Comment[eo]=Savkopiu & sinkronigu viajn datumojn per la potenco de rsync
Comment[et]=Backup & sync your data with the power of rsync
Comment[fr]=Sauvegarde et Synchronise vos données avec la puissance de rsync
Comment[gl]=Faga copias e sincronice os seus datos co poder de rsync
Comment[de]=Sichere & Synchronisiere mit der Kraft von rsync
Comment[el]=Αντίγραφα ασφαλείας & συγχρονισμός δεδομένων με τη δύναμη του rsync
Comment[it]=Effettua il backup e sincronizza i tuoi dati col potere di rsync
Comment[ja_JP]=Backup & sync your data with the power of rsync
Comment[no]=Backup & sync your data with the power of rsync
Comment[pl]=Kopie zapasowe i synchronizacja danych z siłą rsync
Comment[pt_BR]=Backup & sincronize seus dados com o poder do rsync
Comment[pt_PT]=Backup e sincronização dos seus dados com o poder do rsync
Comment[ro]=Faceți copii de siguranță & sincronizați datele cu puterea aplicației rsync
Comment[ru]=Резервное копирование и синхронизация с помощью rsync
Comment[sk]=Backup & sync your data with the power of rsync
Comment[sl]=Ustvarjanje varnostnih kopij in usklajevanje z uporabo rsync
Comment[es]=Respalda y sincroniza tus datos con el poder de rsync
Comment[sv]=Säkerhetskopiera och synkronisera din data med hjälp av rsync
Comment[tr]=rsync gücüyle verinizi yedekleyin & şipşaklayın
Comment[vi]=Backup & sync your data with the power of rsync
Exec=/usr/bin/luckybackup
Terminal=false
Type=Application
Icon=luckybackup
StartupNotify=true
Categories=KDE;Qt;Utility;
Keywords=rsync;backup;restore;data;synchronization;safety;
