;--------------------------------------------------------------------
; This is the gfxboot.cfg file
; It controls the layout and color of text in the live bootloader.
; It also controls which menus are associated with function keys.
;
; You can try enabling the 1024x768 layout instead of the default
; 800x600 but this won't work on all systems.
;
; Note that comments start with a semi-colon and not the usual
; hash-mark (#).
;--------------------------------------------------------------------

; Sections are read in the order given in base::layout, with section 'base'
; implicitly added at the end. If a config value is given more than once,
; the first entry wins.
;
; If a screen resolution can't be set, 640x480 is used as fallback (and
; section '640x480' added to the layout list).
;
; Color values: 24 bit RGB (e.g. 0xff0000 = red).


[base]
; theme name
.1-antiX
; product name
; other sections to read
; layout=1024x768,fn_menu
layout=800x600,fn_menu
; layout=640x480,fn_menu

menu.transparency=0x0
; default font
font.normal=16x16aa.fnt
; main menu font
font.large=16x16aa.fnt
; max. visible main menu items
mainmenu.entries=8
; minimal main menu selection bar width
mainmenu.bar.minwidth=300
; main menu selection bar transparency (0..255)
mainmenu.bar.transparency=0
; main menu colors

; replace underscores ('_') with space in menu entries
_2space=1

;timeout.fg=0xff0020
timeout.fg=0xd4e7ff
timeout.leftside=0
timeout.icons=6
timeout.gap=2
timeout.revframes=1
timeout.test=0
timeout.margin=20

; [greybg-help]
; window colors
window.bg=0x101010
window.bg=0x000000
window.fg=0xa0a0a0
window.title.bg=0x1d3f6f
window.title.fg=0xd4e7ff
#window.title.fg=0xa2cbff
window.title.error.bg=0xc00000
help.border1=0xa0a0a0
help.border2=0xa0a0a0

; help system colors
help.link.fg=0x4d7cbd
help.link.fg=0x316bbd
help.link.selected.fg=0xd4e7ff
help.link.selected.bg=0x1d3f6f
help.highlight.fg=0xffffff


; [blackbg-menu]
; menu colors
menu.normal.bg=0x000000
menu.normal.fg=0xa0a0a0
menu.border1=0x1d3f6f
menu.border2=0x1d3f6f
menu.selected.bg=0x102542
menu.selected.fg=0xffffff
menu.selected.border1=0xa0a0a0
menu.selected.border2=0xa0a0a0
menu.xoffset=24

; [select-boxes]
sbox.enabled=0
sbox.bg=0x000000
sbox.fg=0xd4dfff
sbox.border1=0x1d3f6f
sbox.border2=0x1d3f6f
sbox.xpad=4
sbox.ypad=2


; [bluegrey]
mainmenu.bar.color=0x102542
mainmenu.normal.fg=0xffffff
mainmenu.selected.fg=0xd4e7ff
main.selected.border1=0xa0a0a0
main.selected.border2=0xa0a0a0
optionbox.border=0x1d3f6f

bootopt.label.fg=0xa0a0a0
bootopt.text.fg=0xffffff

panel.title.fg=0xa0a0a0
panel.normal.fg=0xffffff
panel.xoffset=10
panel.yoffset=10
panel.gap=15

panel.f-key.fg=0x60a0e8
panel.f-key.fg=0x21a0ff
panel.f-key.fg=0xd4e7ff
panel.f-key.fg=0x316bbd

button.fg=0xa0a0a0
button.bg=0x000000
button.border1=0xa0a0a0
button.border2=0xa0a0a0
button.selected.fg=0xd4e7ff
button.selected.bg=0x102542
button.selected.border1=0xd4e7ff
button.selected.border2=0xd4e7ff

[1024x768]
font.normal=16x16aa.fnt
screen.size=1024,768
background=back1024.jpg

; upper left corner, if x = -1, center horizontally
mainmenu.pos=330,220
main.rtl.xoff=150

bootopt.pos=330,500

panel.xoffset=30
panel.yoffset=30
panel.gap=20

key.F1=help

[800x600]
screen.size=800,600
background=back800.jpg

; upper left corner, if x = -1, center horizontally
mainmenu.pos=250,185
main.rtl.xoff=150

bootopt.pos=250,450
bootopt.label.fg=0xffffff
; key.F1=help

[640x480]
screen.size=640,480
background=back640.jpg

; upper left corner, if x = -1, center horizontally
mainmenu.pos=180,100
main.rtl.xoff=150

bootopt.pos=220,340

[fn_menu]
nobootoptions=Memory_Test,Boot_from_Hard_Disk,Switch_to_Grub_Bootloader,Use_Legacy_Kernel,Use_Modern_Kernel,Back_to_Top


; >>>>>>>>>> Function key menu >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

key.F1=help
key.F2=lang
key.F3=timezone
key.F4=mx-options
key.F5=persist
key.F6=safeboot
key.F7=console

; <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
