[Desktop Entry]
Version=1.0
Type=Application
Name=clonezilla
Comment=Bare metal backup and recovery of disk drives
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY x-terminal-emulator -e clonezilla
Icon=drive-harddisk
Path=
Terminal=false
StartupNotify=false
