[Desktop Entry]
Version=1.0
Type=Application
Name=nwipe
Comment=securely erase disks
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY x-terminal-emulator -e nwipe
Icon=drive-harddisk
Path=
Terminal=false
StartupNotify=false
