[Desktop Entry]
Version=1.0
Type=Application
Name=photorec
Comment=file data recovery software
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY x-terminal-emulator -e photorec
Icon=drive-harddisk
Path=
Terminal=false
StartupNotify=false
