[Desktop Entry]
Version=1.0
Type=Application
Name=testdisk
Comment=Forensic tools for the partition and boot sectors of your disks.
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY x-terminal-emulator -e testdisk
Icon=drive-harddisk
Path=
Terminal=false
StartupNotify=false
