[Desktop Entry]
Name=Workbench Tools Launcher
Comment=Utility Tools Launcher for MX Workbench
Exec=sudo -E custom-toolbox /etc/custom-toolbox/workbench-tools.list
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/custom-toolbox.svg
Categories=XFCE;System
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/workbench-tools.desktop
