[Desktop Entry]
Name=Windows Wireless Drivers
Name[ast]=Controladores inalámbricos de Windows
Name[bg]=Безжични драйвери за Windows
Name[ca]=Controladors sense fil del Windows
Name[cs]=Ovladače bezdrátových zařízení z Windows
Name[de]=Windows WLAN Treiber
Name[el]=Οδηγοί Windows για ασύρματες συσκευές
Name[en_CA]=Windows Wireless Drivers
Name[es]=Controladores para redes inalámbricas de Windows.
Name[et]=Windowsi juhtmevabavõrgu draiverid
Name[fa]=گرداننده‌های بی‌سیم ویندوزی
Name[fi]=Windowsin langattomien verkkokorttien ajurit
Name[fr]=Pilotes sans fil Windows
Name[gl]=Controladores de redes inarámicas de windows
Name[he]=דרייברים אלחוטיים של וינדוס
Name[hu]=Windowsos vezeték nélküli meghajtók
Name[id]=Driver Nirkabel Windows
Name[it]=Driver Wireless di Windows
Name[lt]=Bevielio tinklo valdyklės
Name[ms]=Pemacu Wayarles Windows
Name[nb]=Trådløse drivere for Windows
Name[nl]=Windows-stuurprogramma's voor draadloos
Name[pl]=Sterowniki Windows dla urządzeń bezprzewodowych
Name[pt_BR]=Drivers Windows para Placas de Rede Sem Fio
Name[ro]=Drivere pentru rețeaua fără fir pentru Windows
Name[ru]=Драйверы беспроводных устройств
Name[sv]=Windows-drivrutiner för trådlösa nätverkskort
Name[tr]=Windows Kablosuz Ağ Sürücüleri
Name[uk]=Безпровідні драйвери Windows
Name[zh_CN]=Windows无线驱动程序
Name[zh_TW]=Windows無線網路驅動程式
Comment=Ndiswrapper driver installation tool
Comment[ast]=Ferramienta d'instalación de controladores Ndiswrapper
Comment[bg]=Инструмент за инсталиране на драйвери Ndiswrapper
Comment[ca]=Eina d'instal·lació de controladors Ndiswrapper
Comment[cs]=Nástroj pro instalaci ovladačů pro Ndiswrapper
Comment[de]=Ndiswrapper Treiber Installations Programm
Comment[el]=Εργαλείο εγκατάστασης οδηγών Ndiswrapper
Comment[en_CA]=Ndiswrapper driver installation tool
Comment[es]=Herramienta de instalación de controladores Ndiswrapper
Comment[et]=Ndiswrapperi draiverite paigaldamise tööriist
Comment[fa]=ابزار نصب گرداننده‌ی Ndiswrapper
Comment[fi]=Asennustyökalu Ndiswrapperille
Comment[fr]=Outil d'installation de pilotes Ndiswrapper
Comment[gl]=Ferramenta de instalación de controladores «Ndiswrapper»
Comment[he]=Ndiswrapper כלי התקנת דרייבר
Comment[hu]=Ndiswrapper illesztőprogram telepítő eszköz
Comment[id]=Alat instalasi driver Ndiswrapper
Comment[it]=Strumento di installazione di driver Ndiswrapper
Comment[lt]=Valdyklių įdiegimo įrankis Ndiswrapper
Comment[ms]=Alat pemasangan pemacu ndiswrapper
Comment[nb]=Ndiswrapper driver-installasjonsverktøy
Comment[nl]=Installatiehulpmiddel voor Ndiswrapper-stuurprogramma's
Comment[pl]=Narzędzie instalacji sterowników dla Ndiswrapper
Comment[pt_BR]=Ferramenta de instalação de driver Ndiswrapper
Comment[ro]=Asistentul de instalare de drivere Ndiswrapper
Comment[ru]=Программа установки драйверов ndiswrapper
Comment[sv]=Installationsverktyg för ndiswrapper
Comment[tr]=NDiswrapper sürücü kurulum aracı
Comment[uk]=Інструмент встановлення драйверів Ndiswrapper
Comment[zh_CN]=Ndiswrapper驱动程序安装工具
Comment[zh_TW]=Ndiswrapper驅動程式安裝工具
Exec=su-to-root -X -c "/usr/sbin/ndisgtk"
NotShowIn=KDE;
Icon=ndisgtk
Terminal=false
Type=Application
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=ndisgtk

