[Desktop Entry]
Categories=Qt;KDE;System;TerminalEmulator;
Comment[en_US]=A drop-down terminal emulator based on KDE Konsole technology.
Comment=A drop-down terminal emulator based on KDE Konsole technology.
Comment[ar]=\xd9\x85\xd8\xad\xd8\xa7\xd9\x83\xd9\x8a \xd8\xb7\xd8\xb1\xd9\x81\xd9\x8a\xd9\x91\xd8\xa9 \xd9\x85\xd9\x86\xd8\xb3\xd8\xaf\xd9\x84 \xd9\x85\xd8\xa8\xd9\x86\xd9\x8a\xd9\x91 \xd8\xb9\xd9\x84\xd9\x89 \xd8\xaa\xd9\x82\xd9\x86\xd9\x8a\xd9\x91\xd8\xa9 \xd8\xb7\xd8\xb1\xd9\x81\xd9\x8a\xd9\x91\xd8\xa9 \xd9\x83\xd8\xaf\xd9\x8a.
Comment[bg]=\xd0\x9f\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x89 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb5\xd0\xbd \xd0\xb5\xd0\xbc\xd1\x83\xd0\xbb\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80 \xd1\x81 \xd0\xbc\xd0\xb5\xd0\xbd\xd1\x8e, \xd0\xb1\xd0\xb0\xd0\xb7\xd0\xb8\xd1\x80\xd0\xb0\xd0\xbd \xd0\xbd\xd0\xb0 \xd0\xba\xd0\xbe\xd0\xbd\xd0\xb7\xd0\xbe\xd0\xbb\xd0\xbd\xd0\xb0\xd1\x82\xd0\xb0 \xd1\x82\xd0\xb5\xd1\x85\xd0\xbd\xd0\xbe\xd0\xbb\xd0\xbe\xd0\xb3\xd0\xb8\xd1\x8f \xd0\xbd\xd0\xb0 KDE.
Comment[bs]=Padaju\xc4\x87i simulator terminala baziran na KDE konzolnoj tehnologiji.
Comment[ca@valencia]=Un emulador de terminal desplegable basat en la tecnologia del Konsole del KDE.
Comment[ca]=Un emulador de terminal desplegable basat en la tecnologia del Konsole del KDE.
Comment[cs]=Vysouvac\xc3\xad emul\xc3\xa1tor termin\xc3\xa1lu zalo\xc5\xbeen\xc3\xbd na KDE programu Konsole.
Comment[da]=En terminal som ruller ned fra oven baseret p\xc3\xa5 KDE's Konsole-teknologi.
Comment[de]=Ein Aufklapp-Terminalemulator basierend auf der KDE-Konsole.
Comment[el]=\xce\x9c\xce\xaf\xce\xb1 \xce\xb5\xcf\x86\xce\xb1\xcf\x81\xce\xbc\xce\xbf\xce\xb3\xce\xae \xcf\x84\xce\xb5\xcf\x81\xce\xbc\xce\xb1\xcf\x84\xce\xb9\xce\xba\xce\xbf\xcf\x8d \xce\xba\xce\xb1\xce\xb8\xce\xbf\xce\xb4\xce\xb9\xce\xba\xce\xae\xcf\x82 \xce\xba\xcf\x8d\xce\xbb\xce\xb9\xcf\x83\xce\xb7\xcf\x82 \xce\xb2\xce\xb1\xcf\x83\xce\xb9\xcf\x83\xce\xbc\xce\xad\xce\xbd\xce\xb7 \xcf\x83\xcf\x84\xce\xb7\xce\xbd \xcf\x84\xce\xb5\xcf\x87\xce\xbd\xce\xbf\xce\xbb\xce\xbf\xce\xb3\xce\xaf\xce\xb1 KDE Konsole.
Comment[en_GB]=A drop-down terminal emulator based on KDE Konsole technology.
Comment[es]=Un emulador de terminal desplegable basado en la tecnolog\xc3\xada de KDE Konsole.
Comment[et]=Lahtikeriv terminaliemulaator, mille aluseks on KDE Konsooli tehnoloogia.
Comment[fi]=KDE:n Konsoleen pohjautuva alas putoava p\xc3\xa4\xc3\xa4te.
Comment[fr]=Un \xc3\xa9mulateur de terminal \xc3\xa0 liste d\xc3\xa9roulante reposant sur la technologie de l'application Konsole de KDE.
Comment[ga]=Aithriseoir teirmin\xc3\xa9il anuas bunaithe ar theicneola\xc3\xadocht Konsole KDE.
Comment[gl]=Un emulador despreg\xc3\xa1bel de terminal baseado en Konsole.
Comment[hi]=\xe0\xa4\xa1\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa5\x89\xe0\xa4\xaa\xe0\xa4\xa1\xe0\xa4\xbe\xe0\xa4\x89\xe0\xa4\xa8 \xe0\xa4\x9f\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae\xe0\xa4\xbf\xe0\xa4\xa8\xe0\xa4\xb2 \xe0\xa4\x8f\xe0\xa4\xae\xe0\xa5\x81\xe0\xa4\xb2\xe0\xa5\x87\xe0\xa4\x9f\xe0\xa4\xb0 \xe0\xa4\x9c\xe0\xa5\x8b \xe0\xa4\x95\xe0\xa4\xbf \xe0\xa4\x95\xe0\xa5\x87\xe0\xa4\xa1\xe0\xa5\x80\xe0\xa4\x88 \xe0\xa4\x95\xe0\xa4\x82\xe0\xa4\xb8\xe0\xa5\x8b\xe0\xa4\xb2 \xe0\xa4\xa4\xe0\xa4\x95\xe0\xa4\xa8\xe0\xa5\x89\xe0\xa4\xb2\xe0\xa4\xbe\xe0\xa4\x9c\xe0\xa5\x80 \xe0\xa4\xaa\xe0\xa4\xb0 \xe0\xa4\x86\xe0\xa4\xa7\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa4\xbf\xe0\xa4\xa4 \xe0\xa4\xb9\xe0\xa5\x88
Comment[hne]=\xe0\xa4\xa1\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbe\xe0\xa4\xaa\xe0\xa4\xa1\xe0\xa4\xbe\xe0\xa4\x89\xe0\xa4\xa8 \xe0\xa4\x9f\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae\xe0\xa4\xbf\xe0\xa4\xa8\xe0\xa4\xb2 \xe0\xa4\x8f\xe0\xa4\xae\xe0\xa5\x81\xe0\xa4\xb2\xe0\xa5\x87\xe0\xa4\x9f\xe0\xa4\xb0 \xe0\xa4\x9c\xe0\xa4\x8a\xe0\xa4\xa8 \xe0\xa4\x95\xe0\xa4\xbf \xe0\xa4\x95\xe0\xa5\x87\xe0\xa4\xa1\xe0\xa5\x80\xe0\xa4\x88 \xe0\xa4\x95\xe0\xa4\x82\xe0\xa4\xb8\xe0\xa5\x8b\xe0\xa4\xb2 \xe0\xa4\xa4\xe0\xa4\x95\xe0\xa4\xa8\xe0\xa4\xbe\xe0\xa4\xb2\xe0\xa4\xbe\xe0\xa4\x9c\xe0\xa5\x80 \xe0\xa4\xae\xe0\xa4\x82 \xe0\xa4\x86\xe0\xa4\xa7\xe0\xa4\xbe\xe0\xa4\xb0 \xe0\xa4\xb8\xe0\xa5\x87 \xe0\xa4\xb9\xe0\xa5\x87
Comment[hr]=Spu\xc5\xa1taju\xc4\x87i emulator terminala baziran na KDE-ovoj Konsole tehnologiji.
Comment[hu]=A KDE Konsole-ra \xc3\xa9p\xc3\xbcl\xc5\x91 leg\xc3\xb6rd\xc3\xbcl\xc5\x91 termin\xc3\xa1lemul\xc3\xa1tor
Comment[id]=Sebuah emulator terminal longsor berdasarkan teknologi Konsole KDE.
Comment[it]=Un emulatore di terminale a discesa basato sulla tecnologia di KDE Konsole.
Comment[ja]=KDE Konsole \xe3\x81\xae\xe3\x83\x86\xe3\x82\xaf\xe3\x83\x8e\xe3\x83\xad\xe3\x82\xb8\xe3\x83\xbc\xe3\x81\xab\xe5\x9f\xba\xe3\x81\xa5\xe3\x81\x8f\xe3\x83\x89\xe3\x83\xad\xe3\x83\x83\xe3\x83\x97\xe3\x83\x80\xe3\x82\xa6\xe3\x83\xb3\xe5\xbc\x8f\xe3\x81\xae\xe3\x82\xbf\xe3\x83\xbc\xe3\x83\x9f\xe3\x83\x8a\xe3\x83\xab\xe3\x82\xa8\xe3\x83\x9f\xe3\x83\xa5\xe3\x83\xac\xe3\x83\xbc\xe3\x82\xbf
Comment[km]=\xe1\x9e\x80\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x98\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x92\xe1\x9e\xb8\xe2\x80\x8b\xe1\x9e\x8f\xe1\x9f\x92\xe1\x9e\x9a\xe1\x9e\xb6\xe1\x9e\x94\xe1\x9f\x8b\xe2\x80\x8b\xe1\x9e\x9f\xe1\x9f\x92\xe1\x9e\x90\xe1\x9e\xb6\xe1\x9e\x93\xe1\x9e\xb8\xe1\x9e\x99\xe2\x80\x8b\xe1\x9e\x92\xe1\x9f\x92\xe1\x9e\x9b\xe1\x9e\xb6\xe1\x9e\x80\xe1\x9f\x8b\xe2\x80\x8b\xe1\x9e\x85\xe1\x9e\xbb\xe1\x9f\x87\xe2\x80\x8b\xe1\x9e\x8a\xe1\x9f\x82\xe1\x9e\x9b\xe2\x80\x8b\xe1\x9e\x98\xe1\x9e\xb6\xe1\x9e\x93\xe2\x80\x8b\xe1\x9e\x98\xe1\x9e\xbc\xe1\x9e\x9b\xe1\x9e\x8a\xe1\x9f\x92\xe1\x9e\x8b\xe1\x9e\xb6\xe1\x9e\x93\xe2\x80\x8b\xe1\x9e\x9b\xe1\x9e\xbe\xe2\x80\x8b\xe1\x9e\x94\xe1\x9e\x85\xe1\x9f\x92\xe1\x9e\x85\xe1\x9f\x81\xe1\x9e\x80\xe2\x80\x8b\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x91\xe1\x9f\x92\xe1\x9e\x99\xe1\x9e\xb6\xe2\x80\x8b\xe1\x9e\x80\xe1\x9e\xbb\xe1\x9e\x84\xe1\x9e\x9f\xe1\x9e\xbc\xe1\x9e\x9b\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9e\x94\xe1\x9e\x9f\xe1\x9f\x8b KDE\xc2\xa0\xe1\x9f\x94
Comment[ko]=KDE Konsole\xec\x9d\x84 \xea\xb8\xb0\xeb\xb0\x98\xec\x9c\xbc\xeb\xa1\x9c \xed\x95\x9c \xeb\x93\x9c\xeb\xa1\xad \xeb\x8b\xa4\xec\x9a\xb4 \xeb\xb0\xa9\xec\x8b\x9d \xed\x84\xb0\xeb\xaf\xb8\xeb\x84\x90 \xec\x97\x90\xeb\xae\xac\xeb\xa0\x88\xec\x9d\xb4\xed\x84\xb0.
Comment[lt]=Nusileid\xc5\xbeiantis terminalo emuliatorius paremtas KDE Konsole technologija.
Comment[lv]=Izkr\xc4\xabto\xc5\xa1s termin\xc4\x81\xc4\xbca emulators, kur\xc5\xa1 b\xc4\x81z\xc4\x93ts uz KDE Konsole tehnolo\xc4\xa3ijas.
Comment[ml]=\xe0\xb4\x95\xe0\xb5\x86\xe0\xb4\xa1\xe0\xb4\xbf\xe2\x80\x8c\xe0\xb4\x88\xe0\xb4\xaf\xe0\xb5\x81\xe0\xb4\x9f\xe0\xb5\x86 \xe0\xb4\x95\xe0\xb4\xa3\xe0\xb5\x8d\xe2\x80\x8d\xe0\xb4\xb8\xe0\xb5\x8b\xe0\xb4\xb3\xe0\xb5\x8d\xe2\x80\x8d \xe0\xb4\xb8\xe0\xb4\xbe\xe0\xb4\x99\xe0\xb5\x8d\xe0\xb4\x95\xe0\xb5\x87\xe0\xb4\xa4\xe0\xb4\xbf\xe0\xb4\x95\xe0\xb4\xa4\xe0\xb5\x8d\xe0\xb4\xb5\xe0\xb4\x82 \xe0\xb4\x85\xe0\xb4\x9f\xe0\xb4\xbf\xe0\xb4\xb8\xe0\xb5\x8d\xe0\xb4\xa5\xe0\xb4\xbe\xe0\xb4\xa8\xe0\xb4\xae\xe0\xb4\xbe\xe0\xb4\x95\xe0\xb5\x8d\xe0\xb4\x95\xe0\xb4\xbf\xe0\xb4\xaf \xe0\xb4\x87\xe0\xb4\xb1\xe0\xb4\x99\xe0\xb5\x8d\xe0\xb4\x99\xe0\xb4\xbf\xe0\xb4\xb5\xe0\xb4\xb0\xe0\xb5\x81\xe0\xb4\xa8\xe0\xb5\x8d\xe0\xb4\xa8 \xe0\xb4\x9f\xe0\xb5\x86\xe0\xb4\xb0\xe0\xb5\x8d\xe2\x80\x8d\xe0\xb4\xae\xe0\xb4\xbf\xe0\xb4\xa8\xe0\xb4\xb2\xe0\xb5\x8d\xe2\x80\x8d \xe0\xb4\x8e\xe0\xb4\xae\xe0\xb5\x81\xe0\xb4\xb2\xe0\xb5\x87\xe0\xb4\xb1\xe0\xb5\x8d\xe0\xb4\xb1\xe0\xb4\xb0\xe0\xb5\x8d\xe2\x80\x8d
Comment[mr]=\xe0\xa4\x95\xe0\xa5\x87\xe0\xa4\xa1\xe0\xa5\x80\xe0\xa4\x88 \xe0\xa4\x95\xe0\xa4\x82\xe0\xa4\xb8\xe0\xa5\x8b\xe0\xa4\xb2 \xe0\xa4\xa4\xe0\xa4\x82\xe0\xa4\xa4\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\x9c\xe0\xa5\x8d\xe0\xa4\x9e\xe0\xa4\xbe\xe0\xa4\xa8\xe0\xa4\xbe\xe0\xa4\xb5\xe0\xa4\xb0 \xe0\xa4\x86\xe0\xa4\xa7\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa4\xbf\xe0\xa4\xa4 \xe0\xa4\x96\xe0\xa4\xbe\xe0\xa4\xb2\xe0\xa5\x80 \xe0\xa4\xaf\xe0\xa5\x87\xe0\xa4\xa3\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa4\xbe \xe0\xa4\x9f\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae\xe0\xa4\xbf\xe0\xa4\xa8\xe0\xa4\xb2 \xe0\xa4\x8f\xe0\xa4\xae\xe0\xa5\x8d\xe0\xa4\xaf\xe0\xa5\x81\xe0\xa4\xb2\xe0\xa5\x87\xe0\xa4\x9f\xe0\xa4\xb0.
Comment[nb]=En terminalemulator basert p\xc3\xa5 KDEs Konsole-teknologi.
Comment[nds]=En Konsool-Emulater, de sik utklappen lett, op KDE-Konsole opbuut.
Comment[nl]=Een uitvouwbare terminalemulator, gebaseerd op de technologie van KDE Konsole.
Comment[nn]=Ein rullegardinbasert terminalemulator basert p\xc3\xa5 KDE Konsoll-teknologien
Comment[pa]=\xe0\xa8\x95\xe0\xa9\x87\xe0\xa8\xa1\xe0\xa9\x80\xe0\xa8\x88 \xe0\xa8\x95\xe0\xa8\xa8\xe0\xa8\xb8\xe0\xa9\x8b\xe0\xa8\xb2 \xe0\xa8\xa4\xe0\xa8\x95\xe0\xa8\xa8\xe0\xa8\xbe\xe0\xa8\xb2\xe0\xa9\x8b\xe0\xa8\x9c\xe0\xa9\x80 \xe0\xa8\x89\xe0\xa9\xb1\xe0\xa8\xa4\xe0\xa9\x87 \xe0\xa8\x85\xe0\xa8\xa7\xe0\xa8\xbe\xe0\xa8\xb0\xe0\xa8\xbf\xe0\xa8\xa4 \xe0\xa8\xb2\xe0\xa8\x9f\xe0\xa8\x95\xe0\xa8\xa6\xe0\xa8\xbe \xe0\xa8\x9f\xe0\xa8\xb0\xe0\xa8\xae\xe0\xa9\x80\xe0\xa8\xa8\xe0\xa8\xb2 \xe0\xa8\xb0\xe0\xa9\x82\xe0\xa8\xaa \xe0\xa8\xb9\xe0\xa9\x88\xe0\xa5\xa4
Comment[pl]=Emulator rozwijanego terminala oparty o technologi\xc4\x99 KDE Konsole.
Comment[pt]=Um emulador de terminal, baseado na tecnologia do Konsole do KDE.
Comment[pt_BR]=Um emulador de terminal baseado na tecnologia do Konsole do KDE.
Comment[ro]=Un emulator de terminal bazat pe tehnologia Konsole din KDE.
Comment[ru]=\xd0\xad\xd0\xbc\xd1\x83\xd0\xbb\xd1\x8f\xd1\x82\xd0\xbe\xd1\x80 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb0 \xd0\xb2 \xd1\x81\xd1\x82\xd0\xb8\xd0\xbb\xd0\xb5 Quake, \xd0\xbe\xd1\x81\xd0\xbd\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8b\xd0\xb9 \xd0\xbd\xd0\xb0 \xd1\x82\xd0\xb5\xd1\x85\xd0\xbd\xd0\xbe\xd0\xbb\xd0\xbe\xd0\xb3\xd0\xb8\xd0\xb8 KDE Konsole.
Comment[sk]=Rozba\xc4\xbeovac\xc3\xad emul\xc3\xa1tor termin\xc3\xa1lu zalo\xc5\xbeen\xc3\xbd na technol\xc3\xb3gii KDE Konsole.
Comment[sr@ijekavian]=\xd0\x9f\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x98\xd1\x83\xd1\x9b\xd0\xb8 \xd0\xb5\xd0\xbc\xd1\x83\xd0\xbb\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb0 \xd0\xb7\xd0\xb0\xd1\x81\xd0\xbd\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd \xd0\xbd\xd0\xb0 \xd0\x9a\xd0\x94\xd0\x95\xe2\x80\x91\xd0\xbe\xd0\xb2\xd0\xbe\xd1\x98 \xd0\x9a\xd0\xbe\xd0\xbd\xd0\xb7\xd0\xbe\xd0\xbb\xd0\xb8.
Comment[sr@ijekavianlatin]=Padaju\xc4\x87i emulator terminala zasnovan na KDE\xe2\x80\x91ovoj Konsoli.
Comment[sr@latin]=Padaju\xc4\x87i emulator terminala zasnovan na KDE\xe2\x80\x91ovoj Konsoli.
Comment[sr]=\xd0\x9f\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x98\xd1\x83\xd1\x9b\xd0\xb8 \xd0\xb5\xd0\xbc\xd1\x83\xd0\xbb\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb0 \xd0\xb7\xd0\xb0\xd1\x81\xd0\xbd\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd \xd0\xbd\xd0\xb0 \xd0\x9a\xd0\x94\xd0\x95\xe2\x80\x91\xd0\xbe\xd0\xb2\xd0\xbe\xd1\x98 \xd0\x9a\xd0\xbe\xd0\xbd\xd0\xb7\xd0\xbe\xd0\xbb\xd0\xb8.
Comment[sv]=En nerf\xc3\xa4llbar terminalemulator baserad p\xc3\xa5 teknologi fr\xc3\xa5n KDE:s Terminal.
Comment[th]=\xe0\xb9\x82\xe0\xb8\x9b\xe0\xb8\xa3\xe0\xb9\x81\xe0\xb8\x81\xe0\xb8\xa3\xe0\xb8\xa1\xe0\xb8\x88\xe0\xb8\xb3\xe0\xb8\xa5\xe0\xb8\xad\xe0\xb8\x87\xe0\xb9\x80\xe0\xb8\x97\xe0\xb8\xad\xe0\xb8\xa3\xe0\xb9\x8c\xe0\xb8\xa1\xe0\xb8\xb4\xe0\xb8\x99\xe0\xb8\xb1\xe0\xb8\xa5\xe0\xb9\x81\xe0\xb8\x9a\xe0\xb8\x9a\xe0\xb8\xab\xe0\xb8\xa2\xe0\xb9\x88\xe0\xb8\xad\xe0\xb8\x99\xe0\xb8\xa5\xe0\xb8\x87 \xe0\xb8\xad\xe0\xb8\xb4\xe0\xb8\x87\xe0\xb8\x9e\xe0\xb8\xb7\xe0\xb9\x89\xe0\xb8\x99\xe0\xb8\x90\xe0\xb8\xb2\xe0\xb8\x99\xe0\xb9\x80\xe0\xb8\x97\xe0\xb8\x84\xe0\xb9\x82\xe0\xb8\x99\xe0\xb9\x82\xe0\xb8\xa5\xe0\xb8\xa2\xe0\xb8\xb5\xe0\xb8\x84\xe0\xb8\xad\xe0\xb8\x99\xe0\xb9\x82\xe0\xb8\x8b\xe0\xb8\xa5 K
Comment[tr]=KDE Konsole teknolojisi \xc3\xbczerine kurulu, yukar\xc4\xb1dan a\xc5\x9fa\xc4\x9f\xc4\xb1 a\xc3\xa7\xc4\xb1labilen bir u\xc3\xa7birim \xc3\xb6yk\xc3\xbcn\xc3\xbcc\xc3\xbcs\xc3\xbc.
Comment[uk]=\xd0\xa1\xd0\xbf\xd0\xb0\xd0\xb4\xd0\xbd\xd0\xb8\xd0\xb9 \xd0\xb7\xd0\xb0\xd0\xbc\xd1\x96\xd0\xbd\xd0\xbd\xd0\xb8\xd0\xba \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd1\x96\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb0, \xd0\xb7\xd0\xb0\xd1\x81\xd0\xbd\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb9 \xd0\xbd\xd0\xb0 \xd1\x82\xd0\xb5\xd1\x85\xd0\xbd\xd0\xbe\xd0\xbb\xd0\xbe\xd0\xb3\xd1\x96\xd1\x97 KDE Konsole.
Comment[x-test]=xxA drop-down terminal emulator based on KDE Konsole technology.xx
Comment[zh_CN]=\xe4\xb8\x80\xe6\xac\xbe\xe5\x9f\xba\xe4\xba\x8e KDE Konsole \xe6\x8a\x80\xe6\x9c\xaf\xe7\x9a\x84\xe6\x8b\x89\xe5\xb9\x95\xe5\xbc\x8f\xe7\xbb\x88\xe7\xab\xaf\xe4\xbb\xbf\xe7\x9c\x9f\xe5\x99\xa8\xe3\x80\x82
Comment[zh_TW]=\xe4\xb8\x8b\xe6\x8b\x89\xe5\xbc\x8f\xe7\xb5\x82\xe7\xab\xaf\xe6\xa8\xa1\xe6\x93\xac\xe5\x99\xa8\xef\xbc\x8c\xe5\x9f\xba\xe6\x96\xbc KDE Konsole \xe7\x9a\x84\xe6\x8a\x80\xe8\xa1\x93\xe3\x80\x82
Exec=yakuake
GenericName[en_US]=Drop-down Terminal
GenericName=Drop-down Terminal
GenericName[ar]=\xd8\xb7\xd8\xb1\xd9\x81\xd9\x8a\xd9\x91\xd8\xa9 \xd9\x85\xd9\x86\xd8\xb3\xd8\xaf\xd9\x84\xd8\xa9
GenericName[bg]=\xd0\x9f\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x89 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb
GenericName[bs]=Padaju\xc4\x87i terminal
GenericName[ca@valencia]=Terminal desplegable
GenericName[ca]=Terminal desplegable
GenericName[cs]=Vysouvac\xc3\xad termin\xc3\xa1l
GenericName[da]=Terminal der ruller ned
GenericName[de]=Aufklapp-Terminal
GenericName[el]=\xce\xa4\xce\xb5\xcf\x81\xce\xbc\xce\xb1\xcf\x84\xce\xb9\xce\xba\xcf\x8c \xce\xba\xce\xb1\xce\xb8\xce\xbf\xce\xb4\xce\xb9\xce\xba\xce\xae\xcf\x82 \xce\xba\xcf\x8d\xce\xbb\xce\xb9\xcf\x83\xce\xb7\xcf\x82
GenericName[en_GB]=Drop-down Terminal
GenericName[es]=Terminal de men\xc3\xba desplegable
GenericName[et]=Lahtikeriv terminal
GenericName[fi]=Alas putoava p\xc3\xa4\xc3\xa4te
GenericName[fr]=Terminal avec liste d\xc3\xa9roulante
GenericName[gl]=Terminal despreg\xc3\xa1bel
GenericName[hr]=Spu\xc5\xa1taju\xc4\x87i terminal
GenericName[hu]=Leg\xc3\xb6rd\xc3\xbcl\xc5\x91 termin\xc3\xa1l
GenericName[id]=Terminal Longsor
GenericName[it]=Terminale a discesa
GenericName[ja]=\xe3\x83\x89\xe3\x83\xad\xe3\x83\x83\xe3\x83\x97\xe3\x83\x80\xe3\x82\xa6\xe3\x83\xb3\xe5\xbc\x8f\xe3\x82\xbf\xe3\x83\xbc\xe3\x83\x9f\xe3\x83\x8a\xe3\x83\xab
GenericName[km]=\xe1\x9e\x9f\xe1\x9f\x92\xe1\x9e\x90\xe1\x9e\xb6\xe1\x9e\x93\xe1\x9e\xb8\xe1\x9e\x99\xe2\x80\x8b\xe1\x9e\x91\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x9b\xe1\x9e\xb6\xe1\x9e\x80\xe1\x9f\x8b\xe2\x80\x8b\xe1\x9e\x85\xe1\x9e\xbb\xe1\x9f\x87
GenericName[ko]=\xec\x9c\x84\xec\x97\x90\xec\x84\x9c \xeb\x82\xb4\xeb\xa0\xa4\xec\x98\xa4\xeb\x8a\x94 \xed\x84\xb0\xeb\xaf\xb8\xeb\x84\x90
GenericName[lt]=I\xc5\xa1skleid\xc5\xbeiamasis terminalas
GenericName[mr]=\xe0\xa4\x96\xe0\xa4\xbe\xe0\xa4\xb2\xe0\xa5\x80 \xe0\xa4\xaf\xe0\xa5\x87\xe0\xa4\xa3\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa4\xbe \xe0\xa4\x9f\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae\xe0\xa4\xbf\xe0\xa4\xa8\xe0\xa4\xb2
GenericName[nb]=Nedtrekksterminal
GenericName[nds]=Utklapp-Konsool
GenericName[nl]=Uitvouwbare terminalemulator
GenericName[nn]=Nedtrekksterminal
GenericName[pa]=\xe0\xa8\xb2\xe0\xa8\x9f\xe0\xa8\x95\xe0\xa8\xa6\xe0\xa8\xbe \xe0\xa8\x9f\xe0\xa8\xb0\xe0\xa8\xae\xe0\xa9\x80\xe0\xa8\xa8\xe0\xa8\xb2
GenericName[pl]=Rozwijany terminal
GenericName[pt]=Terminal Deslizante
GenericName[pt_BR]=Terminal suspenso
GenericName[ro]=Terminal derulant
GenericName[ru]=\xd0\x92\xd1\x8b\xd0\xbf\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x8e\xd1\x89\xd0\xb8\xd0\xb9 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb
GenericName[sk]=Rozba\xc4\xbeovac\xc3\xad termin\xc3\xa1l
GenericName[sr@ijekavian]=\xd0\x9f\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x98\xd1\x83\xd1\x9b\xd0\xb8 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb
GenericName[sr@ijekavianlatin]=Padaju\xc4\x87i terminal
GenericName[sr@latin]=Padaju\xc4\x87i terminal
GenericName[sr]=\xd0\x9f\xd0\xb0\xd0\xb4\xd0\xb0\xd1\x98\xd1\x83\xd1\x9b\xd0\xb8 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb
GenericName[sv]=Rullgardinsterminal
GenericName[th]=\xe0\xb9\x80\xe0\xb8\x97\xe0\xb8\xad\xe0\xb8\xa3\xe0\xb9\x8c\xe0\xb8\xa1\xe0\xb8\xb4\xe0\xb8\x99\xe0\xb8\xb1\xe0\xb8\xa5\xe0\xb9\x81\xe0\xb8\x9a\xe0\xb8\x9a\xe0\xb8\xab\xe0\xb8\xa2\xe0\xb9\x88\xe0\xb8\xad\xe0\xb8\x99\xe0\xb8\xa5\xe0\xb8\x87
GenericName[tr]=Yukar\xc4\xb1dan A\xc3\xa7\xc4\xb1lan U\xc3\xa7birim
GenericName[uk]=\xd0\xa1\xd0\xbf\xd0\xb0\xd0\xb4\xd0\xbd\xd0\xb8\xd0\xb9 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd1\x96\xd0\xbd\xd0\xb0\xd0\xbb
GenericName[x-test]=xxDrop-down Terminalxx
GenericName[zh_CN]=\xe6\x8b\x89\xe5\xb9\x95\xe5\xbc\x8f\xe7\xbb\x88\xe7\xab\xaf
GenericName[zh_TW]=\xe4\xb8\x8b\xe6\x8b\x89\xe5\xbc\x8f\xe7\xb5\x82\xe7\xab\xaf\xe6\xa9\x9f
Icon=yakuake
MimeType=
Name[en_US]=Yakuake
Name=Yakuake
Name[ar]=\xd9\x8a\xd8\xa7\xd9\x83\xd9\x88\xd8\xa7\xd9\x83\xd9\x8a
Name[ast]=Yakuake
Name[be]=Yakuake
Name[bg]=Yakuake
Name[bs]=Yakuake
Name[ca@valencia]=Yakuake
Name[ca]=Yakuake
Name[cs]=Yakuake
Name[da]=Yakuake
Name[de]=Yakuake
Name[el]=Yakuake
Name[en_GB]=Yakuake
Name[eo]=Yakuake
Name[es]=Yakuake
Name[et]=Yakuake
Name[fi]=Yakuake
Name[fr]=Yakuake
Name[ga]=Yakuake
Name[gl]=Yakuake
Name[hi]=\xe0\xa4\xaf\xe0\xa4\xbe\xe0\xa4\x95\xe0\xa5\x81\xe0\xa4\x86\xe0\xa4\x95\xe0\xa5\x87
Name[hne]=\xe0\xa4\xaf\xe0\xa4\xbe\xe0\xa4\x95\xe0\xa5\x81\xe0\xa4\x86\xe0\xa4\x95\xe0\xa5\x87
Name[hr]=Yakuake
Name[hu]=Yakuake
Name[id]=Yakuake
Name[it]=Yakuake
Name[ja]=Yakuake
Name[km]=Yakuake
Name[ko]=Yakuake
Name[lt]=Yakuake
Name[lv]=Yakuake
Name[ml]=\xe0\xb4\xaf\xe0\xb4\xbe\xe0\xb4\x95\xe0\xb5\x8d\xe0\xb4\xb5\xe0\xb4\xbe\xe0\xb4\x95\xe0\xb5\x86
Name[mr]=\xe0\xa4\xaf\xe0\xa4\xbe\xe0\xa4\x95\xe0\xa5\x81\xe0\xa4\x86\xe0\xa4\x95\xe0\xa5\x87
Name[nb]=Yakuake
Name[nds]=Yakuake
Name[nl]=Yakuake
Name[nn]=Yakuake
Name[pa]=\xe0\xa8\xaf\xe0\xa8\xbe\xe0\xa8\x95\xe0\xa9\x81\xe0\xa8\x95\xe0\xa9\x80
Name[pl]=Yakuake
Name[pt]=Yakuake
Name[pt_BR]=Yakuake
Name[ro]=Yakuake
Name[ru]=Yakuake
Name[sk]=Yakuake
Name[sr@ijekavian]=\xd0\x88\xd0\xb0\xd0\xba\xd1\x83\xd0\xb0\xd0\xba\xd0\xb5
Name[sr@ijekavianlatin]=Yakuake
Name[sr@latin]=Yakuake
Name[sr]=\xd0\x88\xd0\xb0\xd0\xba\xd1\x83\xd0\xb0\xd0\xba\xd0\xb5
Name[sv]=Yakuake
Name[th]=Yakuake
Name[tr]=Yakuake
Name[ug]=Yakuake
Name[uk]=Yakuake
Name[x-test]=xxYakuakexx
Name[zh_CN]=Yakuake
Name[zh_TW]=Yakuake
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.yakuake
X-DBUS-StartupType=unique
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
